@import "base.css";
a {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
div.myscroll {
  width: 100%;
  position: relative;
}
div.wrap {
  width: 100%;
  height: 71.325rem;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  -webkit-box-align: start;
  display: flex;
  flex-direction: column;
}
header,
footer {
  width: 100%;
  background: #262626;
}
header {
  height: 2.325rem;
  line-height: 2.225rem;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  padding: 0.525rem 0.4rem 0;
  border-bottom: 4px solid #49caac;
  -webkit-box-pack: justify;
  justify-content: space-between;
  color: #fff;
}
header a.menu,
header a.refrash {
  width: 1.45rem;
  height: 1.15rem;
  text-indent: -9999em;
}
header a.menu {
  background: url(../images/menu.png) no-repeat;
  background-size: 1.45rem 1.15rem;
}
header a.refrash {
  background: url(../images/pc.png) no-repeat;
  background-size: 1.45rem 1.15rem;
}
header h2.address {
  padding-top: 0.175rem;
  font-size: 0.95rem;
}
section {
  width: 100%;
  flex: 1;
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-align: start;
  display: flex;
  flex-direction: column;
}
section div.user {
  width: 100%;
  height: 2.075rem;
  background: #fafafa;
  display: -webkit-box;
  display: flex;
}
section div.user a {
  -webkit-box-flex: 1;
  flex: 1;
  height: 2.075rem;
  font-size: 0.75rem;
  color: #8c8b91;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
section div.user a i {
  width: 1.45rem;
  height: 1.45rem;
  margin-right: 0.55rem;
}
section div.user a:first-child {
  position: relative;
}
section div.user a:first-child i {
  background: url(../images/user1.png) no-repeat;
  background-size: 1.45rem 1.45rem;
}
section div.user a:first-child span {
  width: 0.05rem;
  height: 1.45rem;
  background: #e0e0e0;
  position: absolute;
  top: 0.275rem;
  right: 0;
}
section div.user a:last-child i {
  background: url(../images/user2.png) no-repeat;
  background-size: 1.45rem 1.45rem;
}
section div.banner-show {
  width: 16.0rem;
  height: 7.8rem;
}
section div.banner-show a {
  width: 16.0rem;
  height: 7.8rem;
  position: relative;
}
section div.banner-show a img {
  width: 16.0rem;
  height: 7.8rem;
}
section div.banner-show a h2 {
  width: 16.0rem;
  height: 1.85rem;
  box-sizing: border-box;
  padding: 0 0.9rem;
  line-height: 1.85rem;
  text-align: center;
  font-size: 0.75rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section ul.new {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.4rem;
}
section ul.new li {
  width: 100%;
  height: 2.05rem;
  line-height: 2.0rem;
  border-bottom: 0.05rem solid #ececec;
  font-size: 0.75rem;
  box-sizing: border-box;
  padding: 0 0.7rem 0 0.3rem;
}
section ul.new li a {
  width: 14.15rem;
  color: #363636;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section ul.new li:last-child {
  border: 0;
}
section div.question {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: flex;
  flex-direction: column;
}
section div.question h1 {
  width: 100%;
  height: 2.15rem;
  line-height: 2.15rem;
  font-size: 0.75rem;
  color: #060606;
  box-sizing: border-box;
  padding: 0 0.75rem;
  background: #fafafa;
  border-top: 0.1rem solid #58c1b0;
  border-bottom: 0.05rem solid #e8e8e8;
  display: -webkit-box;
  -webkit-box-pack: justify;
  display: flex;
  justify-content: space-between;
}
section div.question h1 a {
  width: 1.45rem;
  height: 1.45rem;
  text-indent: -999em;
  margin-top: 0.25rem;
  background: url(../images/more.png) no-repeat;
  background-size: 1.45rem 1.45rem;
}
section div.question ul.nav {
  width: 100%;
  height: 2.1rem;
  display: -webkit-box;
  -webkit-box-pack: start;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  border-bottom: 0.05rem solid #eaeaea;
}
section div.question ul.nav li {
  width: 3.1rem;
  font-size: 0.75rem;
  text-align: center;
  height: 2.1rem;
  line-height: 2.1rem;
  color: #333333;
  position: relative;
}
section div.question ul.nav li span {
  width: 100%;
  height: 0.1rem;
  background: #d43553;
  position: absolute;
  left: 0;
  bottom: 0;
}
section div.question ul.cont {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 0.4rem;
}
section div.question ul.cont li {
  width: 100%;
  height: 2.05rem;
  line-height: 2.0rem;
  border-bottom: 0.05rem solid #ececec;
  box-sizing: border-box;
  padding: 0 0.7rem 0 0.3rem;
}
section div.question ul.cont li a {
  width: 14.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  color: #363636;
}
section div.question ul.cont li:first-child {
  height: 6.55rem;
}
section div.question ul.cont li:first-child a {
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: flex;
  flex-direction: column;
}
section div.question ul.cont li:first-child a h3 {
  width: 100%;
  height: 2.0rem;
  line-height: 2.0rem;
  font-size: 0.75rem;
  color: #212121;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section div.question ul.cont li:first-child a div.news-show {
  width: 100%;
  height: 3.7rem;
  display: -webkit-box;
  -webkit-box-pack: start;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
section div.question ul.cont li:first-child a div.news-show img {
  width: 5.2rem;
  height: 3.7rem;
  margin-right: 0.7rem;
}
section div.question ul.cont li:first-child a div.news-show p {
  height: 100%;
  line-height: 1.25rem;
  color: #888888;
  white-space: normal;
  text-overflow: clip;
}
section div.question ul.cont li:last-child {
  border-bottom: 0;
}
section a.back {
  width: 100%;
  height: 3.15rem;
  border-top: 0.05rem solid #e3e3e3;
  border-bottom: 0.1rem solid #50cdab;
  box-sizing: border-box;
  background: #fafafa;
  color: #8a8e91;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
section a.back span {
  width: 1.45rem;
  height: 1.45rem;
  margin-right: 0.475rem;
  background: url(../images/back.png) no-repeat;
  background-size: 1.45rem 1.45rem;
}
footer {
  height: 3.75rem;
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  padding: 0.55rem 0 0.95rem 0;
}
footer a {
  -webkit-box-flex: 1;
  flex: 1;
  color: #c2c2c2;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a i {
  height: 1.15rem;
  margin-right: 0.6rem;
}
footer a:first-child {
  box-sizing: border-box;
  border-right: 0.05rem solid #666666;
}
footer a:first-child i {
  width: 1.45rem;
  background: url(../images/pc.png) no-repeat;
  background-size: 1.45rem 1.15rem;
}
footer a:last-child i {
  width: 0.65rem;
  background: url(../images/phone.png) no-repeat;
  background-size: 0.65rem 1.15rem;
}
